<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kei.android.phone.netcap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />
    <!--  sockets -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  filechooser + write dump -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainTabActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chooser.FileChooserActivity"/>
        <activity android:name=".CaptureViewerActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".InputTabActivity"/>
        <activity android:name=".OutputTabActivity"/>
        
    </application>

</manifest>
